extends layouts/main

block content
    .container.body
        .main_container
            .col-md-3.left_col
                .left_col.scroll-view
                    .navbar.nav_title
                        a.site_title(href='/admin')
                            i.fa.fa-asterisk
                            span Resto Admin
                    .clearfix
                    // menu profile quick info
                    .profile
                        .profile_pic
                            img.img-circle.profile_img(src='images/img.jpg', alt='...')
                        .profile_info
                            span Welcome,
                            h2 John Doe
                    br
                    // sidebar menu
                    include includes/navigation
            // top navigation
            .top_nav
                .nav_menu
                    nav
                        .nav.toggle
                            a#menu_toggle
                                i.fa.fa-bars
            // page content
            .right_col(role='main')
                div
                    // Content goes here
                    .page-title
                        .title_left
                            h3 Categories
                    .clearfix
                    .row
                        .col-md-6
                            .clearfix
                        .col-md-12
                            table.table.table-bordered
                                thead
                                    tr
                                        th id
                                        th Title
                                        th Description
                                tbody
                                    tr
                                        th(scope='row') 1
                                        td Appetizer
                                        td Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    tr
                                        th(scope='row') 2
                                        td Main Dish
                                        td Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    tr
                                        th(scope='row') 3
                                        td Desert
                                        td Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, vitae!
                                    tr
                                        th(scope='row') 4
                                        td beverages
                                        td Lorem ipsum dolor sit amet, consectetur adipisicing.
