extends layouts/main

block content
    .container.body
        .main_container
            .col-md-3.left_col
                .left_col.scroll-view
                    .navbar.nav_title(style='border: 0;')
                        a.site_title(href='/admin')
                            i.fa.fa-asterisk
                            span Resto Admin
                    .clearfix
                    // menu profile quick info
                    .profile
                        .profile_pic
                            img.img-circle.profile_img(src='images/img.jpg', alt='...')
                        .profile_info
                            span Welcome,
                            h2 John Doe
                    br
                    // sidebar menu
                    include includes/navigation
            // top navigation
            .top_nav
                .nav_menu
                    nav
                        .nav.toggle
                            a#menu_toggle
                                i.fa.fa-bars
            // page content
            .right_col(role='main')
                div
                    // Content goes here
                    .page-title
                        .title_left
                            h3 Employees
                        .pull-right
                            a(href='/admin')
                                button.btn.btn-success(type='button')
                                    i.fa.fa-plus
                                    |   Add new
                    .clearfix.row
                    .section-employees
                        each employee in employees
                            .col-md-3
                                .employee-card
                                    img.img-responsive(src='#{employee.image}', alt='')
                                    a(href='#')
                                        h4= employee.name
                                    h5= employee.position
                                    p= employee.description