extends layouts/main

block content
    .container.body
        .main_container
            .col-md-3.left_col
                .left_col.scroll-view
                    .navbar.nav_title
                        a.site_title(href='/admin')
                            i.fa.fa-asterisk
                            span Resto Admin
                    .clearfix
                    // menu profile quick info
                    .profile
                        .profile_pic
                            img.img-circle.profile_img(src='images/img.jpg', alt='user_name')
                        .profile_info
                            span Welcome,
                            h2 John Doe
                    br
                    // sidebar menu
                    include includes/navigation
            // top navigation
            .top_nav
                .nav_menu
                    nav
                        .nav.toggle
                            a#menu_toggle
                                i.fa.fa-bars
            // page content
            .right_col(role='main')
                // This month statistics
                .page-title
                    .title_left
                        h3 This Month
                .clearfix
                .row.top_tiles
                    .animated.flipInY.col-lg-3.col-md-3.col-sm-6.col-xs-12
                        .tile-stats
                            .icon
                                i.fa.fa-user
                            .count 20
                            h3 New users
                            p Lorem ipsum psdea itgum rixt.
                    .animated.flipInY.col-lg-3.col-md-3.col-sm-6.col-xs-12
                        .tile-stats
                            .icon
                                i.fa.fa-gift
                            .count 54
                            h3 New Deliveries
                            p Lorem ipsum psdea itgum rixt.
                    .animated.flipInY.col-lg-3.col-md-3.col-sm-6.col-xs-12
                        .tile-stats
                            .icon
                                i.fa.fa-dollar
                            .count $24 589.12
                            h3 Sales
                            p Lorem ipsum psdea itgum rixt.
                    .animated.flipInY.col-lg-3.col-md-3.col-sm-6.col-xs-12
                        .tile-stats
                            .icon
                                i.fa.fa-internet-explorer
                            .count 1 709
                            h3 Site visitors
                            p Lorem ipsum psdea itgum rixt.
                // This year statistics
                .page-title
                    .title_left
                        h3 This Year
                .clearfix
                .row.top_tiles
                    .animated.flipInY.col-lg-3.col-md-3.col-sm-6.col-xs-12
                        .tile-stats
                            .icon
                                i.fa.fa-user
                            .count 785
                            h3 New users
                            p Lorem ipsum psdea itgum rixt.
                    .animated.flipInY.col-lg-3.col-md-3.col-sm-6.col-xs-12
                        .tile-stats
                            .icon
                                i.fa.fa-gift
                            .count 1 347
                            h3 New Deliveries
                            p Lorem ipsum psdea itgum rixt.
                    .animated.flipInY.col-lg-3.col-md-3.col-sm-6.col-xs-12
                        .tile-stats
                            .icon
                                i.fa.fa-dollar
                            .count $392 142.57
                            h3 Sales
                            p Lorem ipsum psdea itgum rixt.
                    .animated.flipInY.col-lg-3.col-md-3.col-sm-6.col-xs-12
                        .tile-stats
                            .icon
                                i.fa.fa-internet-explorer
                            .count 69 145
                            h3 Site visitors
                            p Lorem ipsum psdea itgum rixt.
                .demo-container(style='height:290px; margin-top: 150px;')
                    #placeholder33x.demo-placeholder