extends layouts/main

block content
    .container.body
        .main_container
            .col-md-3.left_col
                .left_col.scroll-view
                    .navbar.nav_title
                        a.site_title(href='/admin')
                            i.fa.fa-asterisk
                            span Resto Admin
                    .clearfix
                    // menu profile quick info
                    .profile
                        .profile_pic
                            img.img-circle.profile_img(src='images/img.jpg', alt='...')
                        .profile_info
                            span Welcome,
                            h2 John Doe
                    br
                    // sidebar menu
                    include includes/navigation
            // top navigation
            .top_nav
                .nav_menu
                    nav
                        .nav.toggle
                            a#menu_toggle
                                i.fa.fa-bars
            // page content
            .right_col(role='main')
                div
                    // Content goes here
                    .page-title
                        .title_left
                            h3 Jobs
                    .clearfix
                    .row
                        .col-md-6
                            .clearfix
                        .col-md-12
                            table.table.table-bordered
                                thead
                                    tr
                                        th id
                                        th Title
                                        th Description
                                        th Requirements
                                        th Salary
                                        th Comments
                                tbody
                                    tr
                                        th(scope='row') 1
                                        td Chef
                                        td Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        td Lorem ipsum dolor sit amet, consectetur adipisicing.
                                        td $ 1300
                                        td -
                                    tr
                                        th(scope='row') 2
                                        td Cook
                                        td Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        td Lorem ipsum dolor sit amet, consectetur adipisicing.
                                        td $ 900
                                        td -
                                    tr
                                        th(scope='row') 3
                                        td Dishwasher
                                        td Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        td Lorem ipsum dolor sit amet, consectetur adipisicing.
                                        td $ 450
                                        td -
                                    tr
                                        th(scope='row') 4
                                        td Dishwasher
                                        td Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        td Lorem ipsum dolor sit amet, consectetur adipisicing.
                                        td $ 450
                                        td -
                                    tr
                                        th(scope='row') 5
                                        td Dishwasher
                                        td Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        td Lorem ipsum dolor sit amet, consectetur adipisicing.
                                        td $ 450
                                        td -
                                    tr
                                        th(scope='row') 6
                                        td Dishwasher
                                        td Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        td Lorem ipsum dolor sit amet, consectetur adipisicing.
                                        td $ 450
                                        td -
                                    tr
                                        th(scope='row') 7
                                        td Dishwasher
                                        td Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        td Lorem ipsum dolor sit amet, consectetur adipisicing.
                                        td $ 450
                                        td -
                                    tr
                                        th(scope='row') 8
                                        td Waiter
                                        td Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        td Lorem ipsum dolor sit amet, consectetur adipisicing.
                                        td $ 600
                                        td -