extends layouts/main

block content
    .container.body
        .main_container
            .col-md-3.left_col
                .left_col.scroll-view
                    .navbar.nav_title
                        a.site_title(href='/admin')
                            i.fa.fa-asterisk
                            span Resto Admin
                    .clearfix
                    // menu profile quick info
                    .profile
                        .profile_pic
                            img.img-circle.profile_img(src='images/img.jpg', alt='...')
                        .profile_info
                            span Welcome,
                            h2 John Doe
                    br
                    // sidebar menu
                    include includes/navigation
            // top navigation
            .top_nav
                .nav_menu
                    nav
                        .nav.toggle
                            a#menu_toggle
                                i.fa.fa-bars
            // page content
            .right_col(role='main')
                div
                    // Content goes here
                    .page-title
                        .title_left
                            h3 Menu
                    .clearfix
                    .section-employees
                        .row
                            .col-sm-3
                                .employee-card
                                    img.img-responsive(src='images/dishes/dish-1.jpg', alt='')
                                    a(href='#')
                                        h4 Tako Carbonado
                                    h5 Appetizer
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores ipsa laboriosam modi,
                                        | nulla quisquam tempora! Est fuga recusandae ullam.
                            .col-sm-3
                                .employee-card
                                    img.img-responsive(src='images/dishes/dish-2.jpg', alt='')
                                    a(href='#')
                                        h4 Pizza Italliano
                                    h5 Main Dish
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores ipsa laboriosam modi,
                                        | nulla quisquam tempora! Est fuga recusandae ullam.
                            .col-sm-3
                                .employee-card
                                    img.img-responsive(src='images/dishes/dish-3.jpg', alt='')
                                    a(href='#')
                                        h4 Macaron
                                    h5 Desserts
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores ipsa laboriosam modi,
                                        | nulla quisquam tempora! Est fuga recusandae ullam.
                            .col-sm-3
                                .employee-card
                                    img.img-responsive(src='images/dishes/dish-4.jpg', alt='')
                                    a(href='#')
                                        h4 Tequila
                                    h5 Beverage
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores ipsa laboriosam modi,
                                        | nulla quisquam tempora! Est fuga recusandae ullam.
                        .row
                            .col-sm-3
                                .employee-card
                                    img.img-responsive(src='images/dishes/dish-1.jpg', alt='')
                                    a(href='#')
                                        h4 Tako Carbonado
                                    h5 Appetizer
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores ipsa laboriosam modi,
                                        | nulla quisquam tempora! Est fuga recusandae ullam.
                            .col-sm-3
                                .employee-card
                                    img.img-responsive(src='images/dishes/dish-2.jpg', alt='')
                                    a(href='#')
                                        h4 Pizza Italliano
                                    h5 Main Dish
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores ipsa laboriosam modi,
                                        | nulla quisquam tempora! Est fuga recusandae ullam.
                            .col-sm-3
                                .employee-card
                                    img.img-responsive(src='images/dishes/dish-3.jpg', alt='')
                                    a(href='#')
                                        h4 Macaron
                                    h5 Desserts
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores ipsa laboriosam modi,
                                        | nulla quisquam tempora! Est fuga recusandae ullam.
                            .col-sm-3
                                .employee-card
                                    img.img-responsive(src='images/dishes/dish-4.jpg', alt='')
                                    a(href='#')
                                        h4 Tequila
                                    h5 Beverage
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores ipsa laboriosam modi,
                                        | nulla quisquam tempora! Est fuga recusandae ullam.
                        .row
                            .col-sm-3
                                .employee-card
                                    img.img-responsive(src='images/dishes/dish-1.jpg', alt='')
                                    a(href='#')
                                        h4 Tako Carbonado
                                    h5 Appetizer
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores ipsa laboriosam modi,
                                        | nulla quisquam tempora! Est fuga recusandae ullam.
                            .col-sm-3
                                .employee-card
                                    img.img-responsive(src='images/dishes/dish-2.jpg', alt='')
                                    a(href='#')
                                        h4 Pizza Italliano
                                    h5 Main Dish
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores ipsa laboriosam modi,
                                        | nulla quisquam tempora! Est fuga recusandae ullam.
                            .col-sm-3
                                .employee-card
                                    img.img-responsive(src='images/dishes/dish-3.jpg', alt='')
                                    a(href='#')
                                        h4 Macaron
                                    h5 Desserts
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores ipsa laboriosam modi,
                                        | nulla quisquam tempora! Est fuga recusandae ullam.
                            .col-sm-3
                                .employee-card
                                    img.img-responsive(src='images/dishes/dish-4.jpg', alt='')
                                    a(href='#')
                                        h4 Tequila
                                    h5 Beverage
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores ipsa laboriosam modi,
                                        | nulla quisquam tempora! Est fuga recusandae ullam.
                        .row
                            .col-sm-3
                                .employee-card
                                    img.img-responsive(src='images/dishes/dish-1.jpg', alt='')
                                    a(href='#')
                                        h4 Tako Carbonado
                                    h5 Appetizer
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores ipsa laboriosam modi,
                                        | nulla quisquam tempora! Est fuga recusandae ullam.
                            .col-sm-3
                                .employee-card
                                    img.img-responsive(src='images/dishes/dish-2.jpg', alt='')
                                    a(href='#')
                                        h4 Pizza Italliano
                                    h5 Main Dish
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores ipsa laboriosam modi,
                                        | nulla quisquam tempora! Est fuga recusandae ullam.
                            .col-sm-3
                                .employee-card
                                    img.img-responsive(src='images/dishes/dish-3.jpg', alt='')
                                    a(href='#')
                                        h4 Macaron
                                    h5 Desserts
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores ipsa laboriosam modi,
                                        | nulla quisquam tempora! Est fuga recusandae ullam.
                            .col-sm-3
                                .employee-card
                                    img.img-responsive(src='images/dishes/dish-4.jpg', alt='')
                                    a(href='#')
                                        h4 Tequila
                                    h5 Beverage
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores ipsa laboriosam modi,
                                        | nulla quisquam tempora! Est fuga recusandae ullam.
                        .row
                            .col-sm-3
                                .employee-card
                                    img.img-responsive(src='images/dishes/dish-1.jpg', alt='')
                                    a(href='#')
                                        h4 Tako Carbonado
                                    h5 Appetizer
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores ipsa laboriosam modi,
                                        | nulla quisquam tempora! Est fuga recusandae ullam.
                            .col-sm-3
                                .employee-card
                                    img.img-responsive(src='images/dishes/dish-2.jpg', alt='')
                                    a(href='#')
                                        h4 Pizza Italliano
                                    h5 Main Dish
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores ipsa laboriosam modi,
                                        | nulla quisquam tempora! Est fuga recusandae ullam.
                            .col-sm-3
                                .employee-card
                                    img.img-responsive(src='images/dishes/dish-3.jpg', alt='')
                                    a(href='#')
                                        h4 Macaron
                                    h5 Desserts
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores ipsa laboriosam modi,
                                        | nulla quisquam tempora! Est fuga recusandae ullam.
                            .col-sm-3
                                .employee-card
                                    img.img-responsive(src='images/dishes/dish-4.jpg', alt='')
                                    a(href='#')
                                        h4 Tequila
                                    h5 Beverage
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores ipsa laboriosam modi,
                                        | nulla quisquam tempora! Est fuga recusandae ullam.
                        .row
                            .col-sm-3
                                .employee-card
                                    img.img-responsive(src='images/dishes/dish-1.jpg', alt='')
                                    a(href='#')
                                        h4 Tako Carbonado
                                    h5 Appetizer
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores ipsa laboriosam modi,
                                        | nulla quisquam tempora! Est fuga recusandae ullam.
                            .col-sm-3
                                .employee-card
                                    img.img-responsive(src='images/dishes/dish-2.jpg', alt='')
                                    a(href='#')
                                        h4 Pizza Italliano
                                    h5 Main Dish
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores ipsa laboriosam modi,
                                        | nulla quisquam tempora! Est fuga recusandae ullam.
                            .col-sm-3
                                .employee-card
                                    img.img-responsive(src='images/dishes/dish-3.jpg', alt='')
                                    a(href='#')
                                        h4 Macaron
                                    h5 Desserts
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores ipsa laboriosam modi,
                                        | nulla quisquam tempora! Est fuga recusandae ullam.
                            .col-sm-3
                                .employee-card
                                    img.img-responsive(src='images/dishes/dish-4.jpg', alt='')
                                    a(href='#')
                                        h4 Tequila
                                    h5 Beverage
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores ipsa laboriosam modi,
                                        | nulla quisquam tempora! Est fuga recusandae ullam.
                        .row
                            .col-sm-3
                                .employee-card
                                    img.img-responsive(src='images/dishes/dish-1.jpg', alt='')
                                    a(href='#')
                                        h4 Tako Carbonado
                                    h5 Appetizer
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores ipsa laboriosam modi,
                                        | nulla quisquam tempora! Est fuga recusandae ullam.
                            .col-sm-3
                                .employee-card
                                    img.img-responsive(src='images/dishes/dish-2.jpg', alt='')
                                    a(href='#')
                                        h4 Pizza Italliano
                                    h5 Main Dish
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores ipsa laboriosam modi,
                                        | nulla quisquam tempora! Est fuga recusandae ullam.
                            .col-sm-3
                                .employee-card
                                    img.img-responsive(src='images/dishes/dish-3.jpg', alt='')
                                    a(href='#')
                                        h4 Macaron
                                    h5 Desserts
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores ipsa laboriosam modi,
                                        | nulla quisquam tempora! Est fuga recusandae ullam.
                            .col-sm-3
                                .employee-card
                                    img.img-responsive(src='images/dishes/dish-4.jpg', alt='')
                                    a(href='#')
                                        h4 Tequila
                                    h5 Beverage
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores ipsa laboriosam modi,
                                        | nulla quisquam tempora! Est fuga recusandae ullam.