extends layouts/main

block content
    .container.body
        .main_container
            .col-md-3.left_col
                .left_col.scroll-view
                    .navbar.nav_title
                        a.site_title(href='/admin')
                            i.fa.fa-asterisk
                            span Resto Admin
                    .clearfix
                    // menu profile quick info
                    .profile
                        .profile_pic
                            img.img-circle.profile_img(src='images/img.jpg', alt='...')
                        .profile_info
                            span Welcome,
                            h2 John Doe
                    br
                    // sidebar menu
                    include includes/navigation
            // top navigation
            .top_nav
                .nav_menu
                    nav
                        .nav.toggle
                            a#menu_toggle
                                i.fa.fa-bars
            // page content
            .right_col(role='main')
                div
                    // Content goes here
                    .page-title
                        .title_left
                            h3 Roles
                        .pull-right
                            a(href='/admin')
                                button.btn.btn-success(type='button')
                                    i.fa.fa-plus
                                    |   Add new
                    .clearfix
                    .row
                        .col-md-6
                            .clearfix
                        .col-md-12
                            table.table.table-bordered
                                thead
                                    tr
                                        th Title
                                        th Description
                                        th
                                            span.pull-right Actions
                                tbody
                                    each role in roles
                                        tr
                                            td= role.title
                                            td= role.description
                                            td
                                                .pull-right
                                                    a(href='/admin')
                                                        button.btn.btn-warning(type='button')
                                                            i.fa.fa-pencil
                                                            |   Edit
                                                    a(href='/admin')
                                                        button.btn.btn-danger(type='button')
                                                            i.fa.fa-trash
                                                            |   Delete