extends layouts/main

block content
    .container.body
        .main_container
            .col-md-3.left_col
                .left_col.scroll-view
                    .navbar.nav_title
                        a.site_title(href='/admin')
                            i.fa.fa-asterisk
                            span Resto Admin
                    .clearfix
                    // menu profile quick info
                    .profile
                        .profile_pic
                            img.img-circle.profile_img(src='images/img.jpg', alt='...')
                        .profile_info
                            span Welcome,
                            h2 John Doe
                    // /menu profile quick info
                    br
                    // sidebar menu
                    include includes/navigation
            // top navigation
            .top_nav
                .nav_menu
                    nav
                        .nav.toggle
                            a#menu_toggle
                                i.fa.fa-bars
            // page content
            .right_col(role='main')
                div
                    // Content goes here
                    .page-title
                        .title_left
                            h3 Users
                    .clearfix
                    .row
                        .col-md-6
                            .clearfix
                        .col-md-12
                            table.table.table-bordered
                                thead
                                    tr
                                        th id
                                        th Email
                                        th Photo
                                        th Username
                                        th Name
                                        th Phone
                                        th Role
                                        th Birth date
                                tbody
                                    tr
                                        td 1
                                        td abcdas@mail.com
                                        td
                                            img.img-client(src='images/clients/client-1.jpg', alt='')
                                        td user58a4sd54
                                        td Johanne Mario
                                        td 565944515
                                        td Cook
                                        td 1991/04/25
                                    tr
                                        td 2
                                        td abcdas@mail.com
                                        td
                                            img.img-client(src='images/clients/client-2.jpg', alt='')
                                        td user58a4sd54
                                        td Johanne Mario
                                        td 565944515
                                        td Cook
                                        td 1991/04/25
                                    tr
                                        td 3
                                        td abcdas@mail.com
                                        td
                                            img.img-client(src='images/clients/client-3.jpg', alt='')
                                        td user58a4sd54
                                        td Johanne Mario
                                        td 565944515
                                        td Dishwasher
                                        td 1991/04/25
                                    tr
                                        td 4
                                        td abcdas@mail.com
                                        td
                                            img.img-client(src='images/clients/client-1.jpg', alt='')
                                        td user58a4sd54
                                        td Johanne Mario
                                        td 565944515
                                        td Chef
                                        td 1991/04/25
                                    tr
                                        td 5
                                        td abcdas@mail.com
                                        td
                                            img.img-client(src='images/clients/client-2.jpg', alt='')
                                        td user58a4sd54
                                        td Johanne Mario
                                        td 565944515
                                        td Cook
                                        td 1991/04/25
                                    tr
                                        td 6
                                        td abcdas@mail.com
                                        td
                                            img.img-client(src='images/clients/client-3.jpg', alt='')
                                        td user58a4sd54
                                        td Johanne Mario
                                        td 565944515
                                        td Cook
                                        td 1991/04/25
                                    tr
                                        td 7
                                        td abcdas@mail.com
                                        td
                                            img.img-client(src='images/clients/client-2.jpg', alt='')
                                        td user58a4sd54
                                        td Johanne Mario
                                        td 565944515
                                        td Cook
                                        td 1991/04/25