extends layouts/main

block content
    // Breadcrumbs
    .breadcrumb
        .container
            ul
                li
                    a(href='/') Home
                li.active
                    a(href='/menu') Menu
    // Menu
    section.section-menu
        .container
            each menu in menus
                .col-md-3
                    a(href='#{menu.link}')
                        img(src='#{menu.image}', alt='', width='')
                        p= menu.menuCategory
