extends layouts/main

block content
    // Breadcrumbs
    .breadcrumb
        .container
            ul
                li
                    a(href='/') Home
                li.active
                    a(href='/services') Services
    // Services
    section.section-services
        .container
            h1 Services
            h3 All things food… Mexican food!
            p
                | We’re sure, that a restaurant can be so much more, than just a place to dine or have a lunch at!
            p
                | That’s why in a few recent years we’ve expanded a range of food-related services, which our Juneau-based
                | Mexican restaurant offers...
            p
                | A full list goes as wide as to include the catering services, waiter rentals for any type of event you may be
                | holding, or even making and delivering you a custom diet menu!
    // Our services
    section.section-our-services
        .container
            .row
                each service in allServicesInfo
                    .col-md-4
                        a(href='#{service.link}')
                            img.img-responsive(src='#{service.image}', alt='')
                        a(href='#{service.link}')= service.name
                        p= service.description