head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    // Meta, title, CSS, favicons, etc.
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    // font icon
    link(rel='shortcut icon', type='image/png', href='../admin/images/icon.png')
    // font awesome
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    // Bootstrap
    link(href='../admin/lib/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    // NProgress
    link(href='../admin/lib/nprogress/nprogress.css', rel='stylesheet')
    // Datatables
    link(href='../admin/lib/datatables.net-bs/css/dataTables.bootstrap.min.css', rel='stylesheet')
    link(href='../admin/lib/datatables.net-buttons-bs/css/buttons.bootstrap.min.css', rel='stylesheet')
    link(href='../admin/lib/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css', rel='stylesheet')
    link(href='../admin/lib/datatables.net-responsive-bs/css/responsive.bootstrap.min.css', rel='stylesheet')
    link(href='../admin/lib/datatables.net-scroller-bs/css/scroller.bootstrap.min.css', rel='stylesheet')
    // Custom Theme Style
    link(href='../admin/css/custom.min.css', rel='stylesheet')
    link(href='../admin/css/main.css', rel='stylesheet')